main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px solid red;
    padding: 3rem 0;
}

.cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.7fr 0.7fr 0.7fr 0.7fr 1fr;
    grid-template-areas:

        "h1" "pic" "nom" "ap" "em" "edit" "url" "nomC" "apC" "emC" "b";
    /* gap: 20px; */
    background-color: white;
    padding: 0 1rem 1rem;
    width: 90%;
    align-items: center;
    border-radius: 10px;
}

.msg {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}




button {
    height: 40px;
    width: 70%;
    justify-self: center;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: var(--bright1);
    border-radius: 20px;
    transition: ease all 0.2s;
}

button:hover {
    background-color: var(--dark1);
    color: var(--bright1);
    font-weight: 600;
    width: 80%;
    border-radius: 5px;
}



h1 {
    grid-area: h1;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark1);
    text-align: center;
    border-bottom: 2px solid rgb(153, 35, 35);
    padding-bottom: 2rem
}

.img--container {
    grid-area: pic;
    max-width: 550px;
    transition: ease all 0.5s;
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.img--container img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    filter: grayscale(100%);
    transition: ease all 0.5s;


}



.img--container h2 {
    line-height: 1.8rem;

    font-family: var(--marker);
    padding-top: 2rem;
    color: var(--dark1);
    text-align: center;

    font-size: 2.5rem;
    transition: ease all 0.5s;
}


h3 {
    grid-area: edit;
    font-family: var(--marker);
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;

}

.--url {
    grid-area: url;
}

.--nomC {
    grid-area: nomC;
}

.--apC {
    grid-area: apC;
}

.--emC {
    grid-area: emC;
}

.username {
    grid-area: nom;
}

.username2 {
    grid-area: ap;
}

.mail {
    grid-area: em;
}

button {
    grid-area: b;
}

span {
    padding: 1.5rem 0.5rem;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(14, 139, 255);

}



input {
    height: 40px;
    width: 90%;
    border: none;
    outline: none;
    box-shadow: -1px -2px #a3a3a3;
    border-radius: 5px;
    padding: 0 2rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    transition: all linear 0.2s;
    background-color: var(--light1);
    justify-self: center;
}

input:focus {
    /* background-color: aqua; */
    border-radius: 20px;
    background-color: var(--light2)
}

input::placeholder {
    color: var(--dark1)
}


input:focus ::placeholder {
    color: var(--dark1)
}


@media(min-width:1024px) {

    .main {
        padding: 5rem 0;
    }

    .cont {
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1.5fr 2.5fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "h1 h1 h1 h1"
            "pic pic edit edit"
            "pic pic url url"
            "nom nom nomC nomC"
            "ap ap apC apC"
            "em em emC emC"
            "b b b b";
        padding: 0 3rem 3rem;
    }

    .img--container {

        max-width: 550px;
    }

    .img--container h2 {
        text-align: right;

        font-size: 3rem;
    }

    .img--container:hover {}

    .img--container:hover h2 {

        color: var(--bright1);
        /* font-size: 2.2rem; */
    }

    .img--container:hover img {
        filter: grayscale(0%);
        transform: rotate(-5deg);
    }

    h1 {

        font-size: 3rem;
    }

    input {

        width: clamp(200px, 450px, 700px);
        max-width: 700px;
    }

    h3 {
        font-size: 3rem;
    }

    button {

        width: 25%;
    }

    button:hover {

        width: 50%;
    }
}