main {
    display: flex;
    justify-content: center;
}

.container--ext {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10vw;
    justify-content: center;
    padding: 70px 0;
}


@media (min-width:980px) {
    .container--ext {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10vw;
        justify-content: center;
        padding: 70px 0;
    }
}


@media (min-width:1400px) {
    .container--ext {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6vw;
        justify-content: center;
        padding: 70px 0;
    }
}


@media (min-width:1900px) {
    .container--ext {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4vw;
        justify-content: center;
        padding: 70px 0;
    }
}