main {
    display: flex;
    justify-content: center;
}

.addNewBook {
    border: none;
    outline: none;
    background-color: transparent;
    text-align: inherit;
    font-size: inherit;
    cursor: pointer;
}

.addNewBook:hover {
    text-replace: scale(1.2)
}

.message {
    width: 100%;

    position: absolute;
    padding-top: 3rem;
    font-size: 3rem;
    font-family: var(--serif);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container--ext {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10vw;
    justify-content: center;
    padding: 70px 0;
}


@media (min-width:980px) {
    .container--ext {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10vw;
        justify-content: center;
        padding: 70px 0;
    }
}


@media (min-width:1400px) {
    .container--ext {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6vw;
        justify-content: center;
        padding: 70px 0;
    }
}


@media (min-width:1900px) {
    .container--ext {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4vw;
        justify-content: center;
        padding: 70px 0;
    }
}