<div class="form--container">
  <h1>Iniciar sesión</h1>
  <div class="image">
    <img src="/assets/img/login.jpg" alt="" />
  </div>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group posRelative">
      <label class="formLabel">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="login.email"
        #emailId="ngModel"
        [ngClass]="{
          'is-invalid': (emailId.dirty || emailId.touched) && emailId.invalid
        }"
        required
        email
      />

      <i
        *ngIf="(emailId.dirty || emailId.touched) && emailId.invalid"
        class="fa-solid fa-circle-exclamation invalid-feedback"
      ></i>

      <i
        *ngIf="emailId.dirty && emailId.touched && emailId.valid"
        class="fa-solid fa-circle-check"
      ></i>

      <div
        *ngIf="(emailId.dirty || emailId.touched) && emailId.invalid"
        class="invalid-feedback"
      >
        <p *ngIf="emailId.errors.required">El email es obligatorio</p>
      </div>
    </div>
    <div class="form-group posRelative">
      <label class="formLabel">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="login.password"
        #passwordId="ngModel"
        [ngClass]="{
          'is-invalid':
            (passwordId.dirty || passwordId.touched) && passwordId.invalid
        }"
        required
      />
      <i
        *ngIf="passwordId.dirty && passwordId.touched && passwordId.valid"
        class="fa-solid fa-circle-check"
      ></i>
      <i
        *ngIf="(passwordId.dirty || passwordId.touched) && passwordId.invalid"
        class="fa-solid fa-circle-exclamation invalid-feedback"
      ></i>
      <div
        *ngIf="(passwordId.dirty || passwordId.touched) && passwordId.invalid"
        class="invalid-feedback"
      >
        <p *ngIf="passwordId.errors.required">La contraseña es obligatoria</p>
      </div>
    </div>
    <div class="form-group">
      <button class="btn" [disabled]="loginForm.invalid">Login</button>
    </div>
  </form>
</div>
