<div class="home__cont--ext">
  <main class="main">
    <img class="logo" src="/assets/img/logoDark.png" alt="" />
    <section class="main--cont">
      <div class="img--cont"></div>
      <h1>Mucho más que libros</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorum
        laudantium ipsa iure blanditiis, explicabo temporibus rem porro
        recusandae reprehenderit ratione aperiam hic quisquam cum perspiciatis
        omnis ex amet magni!
      </p>
      <div class="img--cont img2"></div>
      <div class="img--cont img3"></div>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta ut at
        quas a illo quaerat inventore esse repudiandae iste perferendis. Veniam,
        accusamus hic ab vitae veritatis maiores. Sequi maxime reiciendis
        necessitatibus accusantium, veniam qui dignissimos iusto, adipisci
        asperiores nisi officia vero et iste, recusandae quod?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit,
        voluptates sint culpa facilis obcaecati dolore, nemo tempore molestias
        fuga enim quae ratione accusantium ipsam id.
      </p>
      <div class="img--cont img4"></div>
    </section>
  </main>

  <div class="separator--mobile mobileOnly"></div>

  <aside class="aside">
    <h2 class="mobileOnly">Noticias<span> - Y - </span>Novedades</h2>
    <h2 class="pcOnly">Noticias</h2>
    <div class="separator pcOnly">
      <div class="separator--int"></div>
      <p>Y</p>
      <div class="separator--int"></div>
    </div>
    <h2 class="pcOnly">Novedades</h2>
    <article class="article">
      <h3>Charla literaria</h3>
      <img src="/assets/img/charla.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut aspernatur
        voluptates recusandae consectetur amet. Voluptas, totam beatae animi
        aspernatur labore eligendi delectus dolorum earum blanditiis recusandae,
        unde expedita quis voluptatibus?
      </p>
    </article>
    <article class="article">
      <h3>Intercambio de libros</h3>
      <img src="/assets/img/intercambio.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat aperiam
        qui reiciendis, repellat necessitatibus ullam iure. Molestias, quam?
        Totam nihil eligendi facere quo eos dolorem, magnam?
      </p>
    </article>
    <article class="article">
      <h3>Última entrevista a Patrick Rothfuss</h3>
      <img src="/assets/img/rothfuss.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut aspernatur
        voluptates recusandae consectetur amet. Voluptas, totam beatae animi
        aspernatur labore eligendi delectus dolorum earum blanditiis recusandae,
        unde expedita quis voluptatibus?
      </p>
    </article>
    <article class="article">
      <h3>Taller de escritura creativa</h3>
      <img src="/assets/img/escritura.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut aspernatur
        voluptates recusandae consectetur amet. Voluptas, totam beatae animi
        aspernatur labore eligendi delectus dolorum earum blanditiis recusandae,
        unde expedita quis voluptatibus?
      </p>
    </article>
  </aside>
</div>
