<div class="home__cont--ext">
  <main class="main">
    <img class="logo" src="/assets/img/logoDark.png" alt="" />
    <h1>Mucho más que libros</h1>
    <div class="cont--main">
      <img class="deco" src="/assets/img/tiraLibros.jpg" alt="" />
      <div class="cont--main--txt">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente
          officiis voluptatem iure
          <strong> incidunt mollitia rerum </strong>quod eius soluta quia?
          Facere soluta accusantium repellendus reprehenderit, ex quo magnam
          deleniti voluptas doloribus.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
          neque excepturi voluptas quisquam, fugit magnam est unde.
        </p>

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
          nesciunt facilis laudantium voluptas,
          <strong>praesentium distinctio ex vitae</strong> amet maxime incidunt.
        </p>
      </div>
    </div>
  </main>

  <div class="separator--mobile mobileOnly"></div>

  <aside class="aside">
    <h2 class="mobileOnly">Noticias<span> - Y - </span>Novedades</h2>
    <h2 class="pcOnly">Noticias</h2>
    <div class="separator pcOnly">
      <div class="separator--int"></div>
      <p>Y</p>
      <div class="separator--int"></div>
    </div>
    <h2 class="pcOnly">Novedades</h2>
    <article class="article">
      <h3>Charla literaria</h3>
      <img src="/assets/img/charla.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut aspernatur
        voluptates recusandae consectetur amet. Voluptas, totam beatae animi
        aspernatur labore eligendi delectus dolorum earum blanditiis recusandae,
        unde expedita quis voluptatibus?
      </p>
    </article>
    <article class="article">
      <h3>Intercambio de libros</h3>
      <img src="/assets/img/intercambio.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat aperiam
        qui reiciendis, repellat necessitatibus ullam iure. Molestias, quam?
        Totam nihil eligendi facere quo eos dolorem, magnam?
      </p>
    </article>
    <article class="article">
      <h3>Última entrevista a Patrick Rothfuss</h3>
      <img src="/assets/img/rothfuss.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut aspernatur
        voluptates recusandae consectetur amet. Voluptas, totam beatae animi
        aspernatur labore eligendi delectus dolorum earum blanditiis recusandae,
        unde expedita quis voluptatibus?
      </p>
    </article>
    <article class="article">
      <h3>Taller de escritura creativa</h3>
      <img src="/assets/img/escritura.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut aspernatur
        voluptates recusandae consectetur amet. Voluptas, totam beatae animi
        aspernatur labore eligendi delectus dolorum earum blanditiis recusandae,
        unde expedita quis voluptatibus?
      </p>
    </article>
  </aside>
</div>
