h1,
h2,
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home__cont--ext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw;

    justify-self: center;

}

.main {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    width: 100%;

}

.main--cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.img--cont {
    width: 90%;
    aspect-ratio: 46/36;
    background-color: var(--light1);
    background-image: url("/assets/img/home0.png");
    background-size: contain;
    background-blend-mode: darken;
    border-radius: 10px;
    margin-top: 3rem;
}

.img2 {
    background-image: url("/assets/img/home1.jpg");
    background-size: cover;

}

.img3 {
    background-image: url("/assets/img/home3.jpg");
    background-size: cover;
    background-position-y: 80%
}

.img4 {
    background-image: url("/assets/img/home4.jpg");
    background-size: cover;

}

p {
    padding: 1rem 0;
    font-size: 1.2rem;
}

.pcOnly {
    display: none;
}

.logo {
    width: 90%;
}

.main h1 {
    font-size: 2.3rem;
    padding-bottom: 2rem;
    text-align: center;
}


.separator--mobile {
    height: 1px;
    width: 100%;
    background-color: var(--dark2);
    margin-bottom: 1rem
}


.aside {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
}

.article {
    width: 100%;
    background-color: var(--light2);
    padding: 0.7rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 45px 9px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(141, 145, 143)
}

h2 span {
    font-size: 1rem;
    font-weight: 400;
}

.article:last-child {
    margin-bottom: 4rem;
}

.article img {
    max-width: 90%;

    border-radius: 3px;

}

.article h3 {
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

.article p {
    padding: 0.5rem
}

.article {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;



    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

@media(min-width: 980px) {
    .main {
        width: 80%;
        padding-bottom: 5rem;


    }

    .main--cont {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(min(90%, max(350px, 90%/2)), 1fr));
        padding-right: 5rem;
    }

    .mobileOnly {
        display: none !important;
    }

    .logo {
        width: 25vw;
    }

    .main h1 {
        font-size: 5rem;
        display: block;
        text-align: end;
        padding-bottom: 0;
        align-self: end;

    }

    .main p {
        font-size: 1.5rem;
        justify-self: center;
        align-self: center;
    }

    .img--cont {
        justify-self: center;
        align-self: center;
        border-radius: 5px;
    }

    .pcOnly div {
        display: flex
    }


    .home__cont--ext {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 8rem;

    }



    .separator {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .separator p {
        padding: 0 0.5rem
    }

    .separator--int {
        height: 1px;
        width: 35%;
        background-color: var(--dark1);

    }

    .aside {
        width: 30%;
        min-width: 350px;
        padding: 3rem;
        display: block;
        background-color: var(--light2);

    }

    .aside h2 {
        display: block;
        font-size: 2rem;
        text-align: center;
    }

    .article {
        background-color: var(--light1);
        padding: 0.7rem;
        margin: 2.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 10px 45px 9px rgba(0, 0, 0, 0.2);
        border: none
    }

    .article img {
        max-width: 90%;

        border-radius: 3px;

    }

    .article h3 {
        padding-bottom: 0.5rem;
        font-size: 1.5rem;
    }

    .article p {
        padding: 0.5rem
    }

}

@media(min-width: 1024px) {
    main p {
        font-size: 2rem;
    }

    .img--cont {
        width: 70%;
    }

    .home__cont--ext {
        padding: 0 6rem;
    }
}