.form--container {
    /* width: minmax(360px, auto); */
    width: 100%;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.8rem 0.5rem;
    background-color: var(--light2);
    border-radius: 20px;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.image {
    width: 360px;
    height: 360px;
    background-color: var(--light2);
    background-image: url("/assets/img/form.jpg");
    background-blend-mode: multiply;
}

form input {
    height: 40px;
    width: 350px;
    border: none;
    outline: none;
    box-shadow: -1px -2px #a3a3a3;
    border-radius: 5px;
    padding: 0 2rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    transition: all linear 0.2s;
    background-color: var(--light1);
}

form input:focus {
    /* background-color: aqua; */
    border-radius: 20px;
    background-color: #fff;
}

.button {
    margin-top: 1.2rem;
    border: none;
    outline: none;
    height: 40px;
    width: 180px;
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: ease-in all 0.5s
}

.button:hover {
    width: 350px;
    border-radius: 5px;
    color: var(--light1);
    background-color: var(--dark1);
}

.button:active {
    width: 350px;
    border-radius: 5px;
    color: var(--bright1);
    font-weight: 600;
    transform: scale(0.98);
    transition: all linear 0.1s;

}

.button:visited {

    color: var(--bright1);
    font-weight: 600;


}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    color: var(--dark1);
    padding: 0.5rem 0;
}

hr {
    width: 30%;
    height: 1px;
    border-color: black
}

h3 {
    padding-top: 0.8rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
    width: 350px;
    text-align: left;
    display: flex;

    justify-content: space-between
}

form input.is-invalid {

    box-shadow: -1px -2px rgb(226, 113, 8);
    background-color: #dddddd;

}

.posRelative {
    position: relative;
}

.fa-circle-exclamation {
    position: absolute;
    right: 20px;
    top: 56px;
    /* transform: translateY(calc(-40%)); */
    font-size: 1.5rem;
    color: rgb(226, 113, 8)
}

.form-group div {
    max-width: 350px;
}

.fa-circle-check,
.fa-circle-exclamation {
    position: absolute;
    right: 20px;
    top: 56px;
    /* transform: translateY(calc(-40%)); */
    font-size: 1.5rem;
    color: rgb(226, 113, 8)
}

.fa-circle-check {
    color: green
}

.btn-password {
    background-color: transparent;
    width: 20px;
    height: 16px;
    margin: 0 5px;
    outline: none;
    border: none;
    cursor: pointer
}

.btn-password:hover {
    color: var(--bright1)
}

.btn-password {}