<div class="form--container">
  <h2>Datos de registro</h2>
  <hr />
  <h3>Completa los siguientes campos para darte de alta</h3>
  <div class="image"></div>

  <form action="">
    <input class="inputFName" type="text" Placeholder="Nombre" id="nombre" />
    <input class="inputName" type="text" Placeholder="Apellidos" />
    <input class="inputMail" type="text" Placeholder="email" />
    <input class="inputPW" type="text" Placeholder="Contraseña" />
    <input
      class="inputPWRepeat"
      type="text"
      Placeholder="Repite tu contraseña"
    />
    <input class="inputImage" type="text" Placeholder="Imagen" />
  </form>
  <button>Registrarse</button>
</div>
