:root {
    --dark1: #001524;
    --dark2: #445D48;
    --light1: #d4d1ce;
    --light2: #829285;
    --bright1: #fd8945;
    --sans: 'Montserrat', sans-serif;
    --marker: 'Caveat Brush', cursive;
    --serif: 'Merriweather', serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--sans);
    list-style: none;
    text-decoration: none;

}

html {
    height: 100%;
    background-color: var(--light1);
    overflow-x: hidden;
}